@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0082e6, #00ffc8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  max-width: 600px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  position: relative;
}

.box-error{
  position: absolute;
  right: 20px;
  color: red;
}


.form-box div {
  margin-bottom: 25px;
}

.form-box label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.input-style {
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  transition: border-color 0.3s ease;
  /* border: none; */
  outline: none;
  /* border-bottom: 1px solid gray; */
}

.input-style:focus {
  border-color: #0082e6;
}

#message {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  resize: none;
  transition: border-color 0.3s ease;
  /* border: none; */
  outline: none;
  /* border-bottom: 1px solid gray; */
}

#message:focus {
  border-color: #0082e6;
}

.input-style {
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  transition: border-color 0.3s ease;
  /* border: none; */
  outline: none;
  /* border-bottom: 1px solid gray; */
}

.name-error{
  color: red;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  position: relative;
}
.phone-error{
  color: red;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  position: relative;
}
.email-error{
  color: red;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  position: relative;
}
.message-error{
  color: red;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  position: relative;
}

span i{
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-size: 20px;
  color: green;
}

#sub-btn{
  text-align: center;
  margin-bottom: 10px;
}

#submit{
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
  background-color: cornflowerblue;
  border: none;
  outline: 0;
  border-radius: 5px;
}

